*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* hover  */
a:hover, button:hover, .contact-btn:hover{
    color: #BFA764;
}


header{
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.logo h2{
    font-weight: 800;
}

a{
    color: #000;
    text-decoration: none;
    text-transform: initial;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 270px;
}

/* HERO SECTION*/
.hero-section{
    background-image: url(./images/tr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding:8rem 3rem;
    text-align: center;
    /* background: linear-gradient(rgba(44, 43, 44, 0.8), rgba(59, 57, 57, 0.8)),;   */
    color: #fff;
    opacity: 0.9;
    /* backdrop-filter: blur(14px) brightness(10%); */
    text-shadow: #000000cb;
}

.hero-text{
    backdrop-filter: blur(2.9px) brightness(100%);
}

.hero-section h1{
    font-size: 4rem;
    color: #000017;
    text-shadow: #000000cb;
}

.hero-section p{
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
    color: #000017;
    text-shadow: #000000cb;
}

.hero-btn{
    padding: 15px 20px;
    border: none;
    background-color: #000017;
    color: #fff;
    font-size: 16px;
    border-radius: 10px 0 10px 0;
}

/* section-one */
.section-one{
    margin: 0 2rem;
}

.section-one h2{
    text-align: center;
    font-weight: 500;
    margin: 1.7rem 0 1rem 0;
}

.section-1ab{
    display: flex;
    margin: 2rem 3rem;
}

.section-one h2{
    color: #BFA764;
}

.section-1a {
    /* background-color: #000; */
    color: #000;
    text-align: center;
    padding: 0rem 1rem ;
    width: 800px;
}

.section-1a h3{
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

.section-1a p{
    font-size: 18px;
    margin: 2rem auto;
    width: 600px;
    line-height: 28px;
}

.section-one img{
    width: 500px;
    height: auto;
}

.section-one-btn{
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 10px 0 10px 0;
}

/* section-two */
.section-two h2{
    color: #BFA764;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
}
.sec-container{
    display: flex;
    text-align: center;
    padding:3rem 3rem 5rem 3rem;
}

.fa-solid, .fa-regular {
    font-size: 4rem;
}

.section-two h4{
    font-size: 1.5rem;
    margin: 15px 0;
}

.section-two p{
    font-size: 16px;
}

.section-2a{
    padding: 0 20px;
}

.section-2b{
    padding: 0 40px;
}

.section-2c{
    padding: 0 40px;
}

/* footer */
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

/* *************************************contact-container************************* */
.contact-container{
    margin: 0 3rem;
}

.contact-container h2{
    margin: 0 0 15px 0;
}

.contact-container span{
    color: #BFA764;
}

.contact-container p{
    font-size: 17px;
    margin: 12px 0 15px 0;
}

::placeholder{
    font-size: 14px;
    padding: 10px;
}

.name, .email, .message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 12px 0;
}

.about-section2{
    display: flex;
    margin: 4rem 3rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.about-section2 h4{
    font-size: 18px;
    margin: 7px 0 26px 0;
}

.about-section2 p{
    font-size: 20px;
}

.about-b p{
    margin: 6px 0 0 0;
}

.contact-btn{
    padding: 15px 20px;
    width: 150px;
    border: none;
    background-color: #000017;
    color: #fff;
    font-size: 16px;
    border-radius: 10px 0 10px 0;
    margin: 10px 0 0 0;
}