*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* hover  */
a:hover, button:hover, .contact-btn:hover{
    color: #BFA764;
    text-decoration: underline;
}
  
  a:visited {
    color: #000017;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #000017;
    background-color: transparent;
    text-decoration: underline;
  }

header{
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.logo h2{
    font-weight: 800;
}

a{
    color: #000;
    text-decoration: none;
    text-transform: initial;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 270px;
}

/* HERO SECTION*/
.hero-section{
    background-image: url(./images/tr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding:8rem 3rem;
    text-align: center;
    color: #fff;
    opacity: 0.9;
    text-shadow: #000000cb;
}

.hero-text{
    backdrop-filter: blur(2.9px) brightness(100%);
}

.hero-section h1{
    font-size: 4rem;
    color: #000017;
    text-shadow: #000000cb;
}

.hero-section p{
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
    color: #000017;
    text-shadow: #000000cb;
}

.hero-btn{
    padding: 15px 20px;
    border: none;
    background-color: #000017;
    color: #fff;
    font-size: 16px;
    border-radius: 10px 0 10px 0;
}

/* section-one */
.section-one{
    margin: 5rem 2rem;
}

.section-one h2{
    color: #BFA764;
    text-align: center;
    font-weight: 500;
    margin: 3rem 0 3rem 0;
    font-size: 2.3rem;
}

.section-1ab{
    display: flex;
    margin: 2rem 3rem;
}

.section-1a {
    color: #000;
    text-align: center;
    padding: 0rem 1rem ;
    width: 800px;
}

.section-1a h3{
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

.section-1a p{
    font-size: 18px;
    margin: 2rem auto;
    width: 600px;
    line-height: 28px;
}

.section-one img{
    width: 500px;
    height: auto;
}

.section-one-btn{
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 10px 0 10px 0;
}

/* section-two */
.section-two h2{
    color: #BFA764;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 400;
    text-decoration: underline;
    margin: 2rem 0 3rem 0;
}
.sec-container{
    display: flex;
    text-align: center;
    padding:3rem 3rem 5rem 3rem;
}

.fa-solid, .fa-regular {
    font-size: 4rem;
}

.section-two h4{
    font-size: 1.5rem;
    margin: 15px 0;
}

.section-two p{
    font-size: 16px;
}

.section-2a{
    padding: 0 20px;
}

.section-2b{
    padding: 0 40px;
}

.section-2c{
    padding: 0 40px;
}

/* footer */
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

/* *************************************contact-container************************* */
.contact-container{
    margin: 0 3rem;
}

.contact-container h2{
    margin: 0 0 15px 0;
}

.contact-container span{
    color: #BFA764;
}

.contact-container p{
    font-size: 17px;
    margin: 12px 0 15px 0;
}

::placeholder{
    font-size: 14px;
    padding:20px 10px;
}

.name, .email, .message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 12px 0;
}

.about-section2{
    display: flex;
    margin: 4rem 3rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.about-section2 h4{
    font-size: 18px;
    margin: 7px 0 26px 0;
}

.about-section2 p{
    font-size: 20px;
}

.about-b p{
    margin: 6px 0 0 0;
}

.contact-btn{
    padding: 15px 20px;
    width: 150px;
    border: none;
    background-color: #000017;
    color: #fff;
    font-size: 16px;
    border-radius: 10px 0 10px 0;
    margin: 10px 0 0 0;
}

input[type=text],input[type=email]{
    padding: 10px;
}

.contact-header{
    background-color: #000;
    color: #fff;
    margin: 0 0 1rem 0;
}

.contact-header a{
    color: #fff;
}

/* ****************************ABOUT PAGE */
.about-header{
    background-color: #000;
    color: #fff;
    margin: 0 0 2rem 0;
}

.about-header a{
    color: #fff;
}

.about-hero-section{
    display: flex;
    margin: 0 11rem 2rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.about-hero-section img{
    width: 400px;
    border-radius: 100%;
}

.about-sec-1 h1{
    margin: 0 0 1rem 0;
    color: #BFA764;
}

.about-sec-1 p{
    width: 600px;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 3rem 0;
    color: #000;
}

.about-sec1{
    background-image: url(./images/tr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5rem 3rem;
    color: #fff;
    opacity: 0.9;
    text-shadow: #000000cb;
}

.review-1{
    display: flex;
    gap: 1rem;
    background-color: #BFA764;
    color: #000;
    margin: 0 0 2rem 0;
    padding: 2rem 2rem;
    justify-content: space-between;
    border-radius: 12px;
}

.review-1 p{
    color: #000;
    margin: 1rem 0 0rem 0;
    font-size: 18px;
    line-height: 25px;
}

.review-1 img{
    width: 100px;
    border-radius: 100%;
}

.review-2{
    display: flex;
    gap: 1rem;
    background-color: #BFA764;
    color: #000;
    margin: 0 0 2rem 0;
    padding: 2rem 2rem;
    justify-content: space-between;
    border-radius: 12px;
}

.review-2 p{
    color: #000;
    margin: 1rem 0 0rem 0;
    font-size: 18px;
    line-height: 25px;
}

.review-2 img{
    width: 100px;
    border-radius: 60%;
}

.about-sec1 h2{
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1.6rem 0;
    color: #000;
    font-weight: 900;
    backdrop-filter: blur(2.9px) brightness(100%);
}
